/* Declaraciones que afectan a toda la página */

body {
    background-color: #fffbf7;
    box-sizing: border-box;
    margin: 0;
}

* {
    box-sizing: inherit;
}

/* Declaraciones del header y barra de navegación */

.header {
    margin: 10px 20px 0 20px;
    font-size: 0;
}
  
li {
    display: inline;
    padding: 0 25px;
    color: #025157;
}

a {
    text-decoration: none;
    color: #000;
}
  
.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-family: sans-serif;
}
    
.logo > img {
    width: 2em;
}
  
.navbar {
    width: 100%;
    text-align: center;
    color: #025157;
    font-weight: 500;
    background-color: #fff;
    z-index: 1;
}

/* Declaración de acciones */

.actions {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > a {
    padding: 0 10px;
    text-decoration: none;
    color: #67b54b
}

.actions > button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}

/* Declaraciones del main */

.main {
    text-align: center;
    margin-top: 250px;
}

.main > h1 {
    color: #025157;
    font-family: 'Alegreya', serif;
    font-size: 60px;
    margin-bottom: 24px;
}

.main > h4 {
    color: #46484c;
    font-family: "Slabo", serif;
    font-size: 20px;
}

.main > p {
    color: #8b8b8bcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

/* Esta es la parte del form "Enter email address" */

.enter-email {
    height: 55px;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

input, button {
    max-width: 250px;
    height: 100%;
}

.insert {
    padding: 6px 20px;
    border: 1px solid #b6b6b6;
    border-radius: 8px 0 0 8px;
    width: 60%;
    margin: 0;
}

.submit {
    padding: 6px 20px;
    color: #fff;
    background-color: #025157;
    border-radius: 0 8px 8px 0;
    margin-left: -10px;
    border: none;
}

/* Estas son las imágenes del main */

.banner img {
    max-width: 50%;
}

.img_central {
    max-width: 70%;
    padding: 10px;
}

/* Acá configuramos las columnas de la parte del video */

.two-column {
    display: flex;
    width: 70%;
    margin: 5em auto;
    gap: 4em;
}

.two-column h3, .testimonio-section h1, .how-head h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 2.3rem;
    margin: -25px 0 24px 0;
    font-weight: 900;
}

.two-column p, .testimonio-section p {
    color: #46484c;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
}

p.gray {
    color: #8b8b8bcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

.two-column > article.video-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.video-img > figure {
    display: inline-flex;
    font-family: sans-serif;
}


/* Va la parte de características */

.features {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-gap: 2em;
    padding: 5em;
    height: 100%;
    background-color: #025157;
}

.features article {
    background-color: #fff;
    padding: 2em;
    font-family: "Open Sans", sans-serif;
}

.features a, .how-head a, .how-text a {
    color: #67b54b;
}

.feature-card {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.feature-card img {
    width: 200px;
    height: 200px;
    position: relative;
    right: -3rem;
    filter: grayscale(0.7);
    object-fit: cover;
}


/* Va la parte de testimonio */

.testimonio-section {
    background-color: #a1d683;
    margin: 0;
    display: flex;
}

.testi-container {
    display: flex;
    width: 70%;
    margin: 100px auto;
    gap: 6em;
    align-items: center;
}

.testi-left > img {
    position: relative;
    margin-top: 2%;
    max-width: 70%;
}

.testi-left p, .how-head p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

.testi-left h1, .how-head h1 {
    font-size: 3em;
}

.testi-right {
    background-color: #fff;
    position: relative;
    max-width: 30%;
    border-radius: 0.5em;
}

.img-testi {
    width: 100%;
    max-height: 300px;
    height: 300px;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}

.ind-button {
    padding: 6px 20px;
    color: #fff;
    background-color: #025157;
    border-radius: 8px;
    border: none;
    display: block;    
}

.company {
    position: relative;
    width: 5em;
    height: 5em;
    top: -2.3em;
    right: -12em;
    margin: 0;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }

.company img {
    max-width: 70%;
  }

.card-info {
    position: relative;
    margin-top: -4em;
    padding: 2em;
  }

p.green {
    color: #025157;
    font-family: "Slabo", serif;
    font-weight: 600;
    font-size: 1.1em;
}

.card-info p.gray {
    display: inline;
}

.card-info h2 {
    font-family: "Open Sans", sans-serif;
}

.card-info .ind-button {
    width: 100%;
    margin: 2em 0;
    padding: 1em;
    font-weight: 600;
}

/* Acá va la sección How Does Matcha Work */

#how-does {
    padding: 5em;
    text-align: center;
}

.how-head {
    width: 60%;
    margin: 4em auto;
}

.how-head button {
    display: inline;
}

.how-head p {
    margin-top: -0.5em;
}

#grid-container {
    display: grid;
    background-color: #fffbf7;
    height: 100%;
    padding: 1em;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.3em;
    margin: 0 4em;
}

#grid-container article {
    max-width: 90%;
    border-radius: 0.5em;
    background-color: #fff;
    border: 1px solid gainsboro;
    position: relative;
}

#grid-container img {
    width: 100%;
    margin: -1em;
}

#grid-container i {
    position: relative;
    color: #b6b6b6;
    left: .6em;
    bottom: 7.3em;
}

.how-text {
    padding: 1em;
    text-align: left;
}

.how-text h3 {
    font-family: 'Alegreya', serif;
    font-size: 1.6em;
    text-align: center;
    color: #025157;
}

.how-text p, .how-text a {
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    padding: 0 0 1em 0;
}

.how-text a {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    align-self: flex-start;
}