/* Declaraciones que afectan a toda la página */

body {
    background-color: #fffbf7;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

/* Declaraciones del header y barra de navegación */

.header {
    margin: 40px 20px 0 20px;
    font-size: 0;
}
  
li {
    display: inline;
    padding: 0 25px;
    color: #025157;
}

a {
    text-decoration: none;
    color: #000;
}
  
.header > * {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
    font-family: sans-serif;
}
  
.logo {
    width: 15%;
    vertical-align: middle;
}
  
.logo > img {
    width: 15%;
}
  
.navbar {
    width: 70%;
    text-align: left;
    color: #025157;
    font-weight: 500;
}

.letra_matcha {
    margin: 0 5px;
}

/* Declaración de acciones */

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.actions > a {
    padding: 0 10px;
    text-decoration: none;
    color: #67b54b
}

.actions > button {
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
}

/* Declaraciones del main */

.main {
    text-align: center;
    margin-top: 100px;
}

.main > h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
    font-weight: 900;
}

.main > h4 {
    color: #46484c;
    font-family: "Slabo", serif;
    font-size: 20px;
}

.main > p {
    color: #8b8b8bcc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}

/* Esta es la parte del form "Enter email address" */

.main > form {
    height: 55px;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

input, button {
    max-width: 250px;
    height: 100%;
}

.insert {
    padding: 6px 20px;
    border: 1px solid #b6b6b6;
    border-radius: 8px 0 0 8px;
    width: 60%;
    margin: 0;
}

.submit {
    padding: 6px 20px;
    color: #fff;
    background-color: #025157;
    border-radius: 0 8px 8px 0;
    margin-left: -10px;
    border: none;
}

/* Estas son las imágenes del main */

img.loguito {
    max-width: 30%;
}

img.img_central {
    max-width: 70%;
    padding: 10px;
}
