/* //////////// Media queries ///////////// */

/* Dispositivos móviles con vista vertical */

@media (max-width: 575px) {
    .main > h1 {
        font-size: 30px;
    }
    .main {
        margin-top: 120px;
    }
    .banner img {
        max-width: 80%;
    }
    .two-column > .form {
        flex-direction: column;
    }
    .two-column > .form > div {
        height: 50%;
        margin-top: 10px;
    }

    .two-column > .form > div > input {
        width: 40%;
    }

    .two-column > .form > button {
        width: 20%;
    }
    .two-column {
        flex-direction: column;
        max-width: 90%;
        margin-top: 10px;
    }
    .video-img > video {
        width: 100%;
    }
    .form > h3 {
        font-size: 2em;
        line-height: 1.2;
    }
    .features {
        grid-template-columns: 1fr;
        grid-gap: 1em;
        padding: 2.5em;
    }
    .feature-card {
        display: block;
    }
    .feature-card img {
        width: 100%;
        height: 200px;
        right: 0;
        margin-top: 1.3em;  
    }
    .testi-container {
        flex-direction: column;
    }
    .testi-right {
        max-width: 100%;
    }
    .company {
        width: 4.5em;
        height: 4.5em;
        right: -9em;
    }
    p.green {
        font-size: 1em;
    }
    .card-info {
        margin-top: -4em;
        padding: 2em;
    }
    .how-does {
        padding: 3em;
    }
    .how-head {
        width: 100%;
        margin: 0 0 2em 0;
    }
    #grid-container {
        grid-template: 1fr / 1fr;
        grid-gap: 0.5em;
        padding: 0;
    }
    #grid-container article {
        width: 100%;
        position: relative;
    }
    #grid-container i {
        display: none;
    }

}

/* Dispositivos pequeños en vista horizontal */

@media (min-width: 576px) and (max-width: 767px) {
    .two-column > .form {
        flex-direction: column;
    }
    .two-column > .form > div {
        height: 50%;
        margin-top: 10px;
    }

    .two-column > .form > div > input {
        width: 40%;
    }
    .two-column > .form > button {
        width: 20%;
    }
    .two-column {
        flex-direction: column;
        max-width: 90%;
        margin-top: 10px;
    }
    .video-img > video {
        width: 100%;
    }
    .form > h3 {
        font-size: 2em;
        line-height: 1.2;
    }
    .features {
        grid-template-columns: 1fr;
        grid-gap: 1em;
        padding: 2.5em;
    }
    .feature-card {
        display: block;
    }
    .feature-card img {
        width: 100%;
        height: 200px;
        right: 0;
        margin-top: 1.3em;
        
    }
    #grid-container i {
        display: none;
    }
    .testi-right {
        max-width: 60%;
    }
}

/* Dispositivos medianos (tablets) */

@media (min-width: 768px) and (max-width: 991px) {
    .two-column > .form {
        flex-direction: column;
    }
    .two-column > .form > div {
        height: 50%;
        margin-top: 10px;
    }

    .two-column > .form > div > input {
        width: 40%;
    }
    .two-column > .form > button {
        width: 20%;
    }
    .two-column {
        flex-direction: column;
        max-width: 90%;
        margin-top: 10px;
    }
    .video-img > video {
        width: 100%;
    }
    .form > h3 {
        font-size: 2em;
        line-height: 1.2;
    }
    .feature-card {
        display: block;
    }
    .feature-card img {
        width: 100%;
        height: 200px;
        right: 0;
        margin-top: 1.3em;
    }
    #grid-container i {
        display: none;
    }
    .testi-right {
        max-width: 50%;
    }
    .company {
        width: 4.5em;
        height: 4.5em;
        right: -8em;
    }
    p.green {
        font-size: 1em;
    }
    .card-info {
        margin-top: -3em;
        padding: 2em;
    }
}

/* Dispositivos grandes */

@media (min-width: 992px) and (max-width: 1199px) {
    .two-column > .form > div > input {
        width: 40%;
    }
    .two-column > .form > button {
        width: 20%;
    }
    .testi-right {
        max-width: 40%;
    }
    .company {
        width: 4.5em;
        height: 4.5em;
        right: -8em;
    }
}

/* Dispositivos extragrandes */

@media (min-width: 1200px) {

}